.sa-modal-dialog{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1050;
    outline: 0;
    overflow-x: hidden;
    overflow-y: auto;
    transition: all .3s ease-in-out;
    background-color: rgba(0, 0, 0, 0);

    &-close{
        display: none;
        background-color: rgba(0, 0, 0, 0);
    }

    &-open{
        display: block;
        background-color: rgba(0, 0, 0, .5);
    }

    &__wrap{
        position: relative;
        margin: 30px auto;
        max-width: 600px;
        transition: all .3s ease-in-out;
        @media (max-width: $screen-xs){
            margin: 0px auto;
        }
    }

    &__container{
        padding: 24px;
    }

    &__title{
        padding: 0 0 20px 0;
        margin: 0 0 0 0;
        font-size: 20px;
    }

    &__actions{
        display: flex;
        flex-direction: row;
        padding-top: 20px;
        justify-content: flex-end;
    }

    &__action{
        padding-left: 10px;
        padding-right: 10px;
    }
}